<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categorias</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class="container">
        <header>
            <div class="header-top">
                <div class="logo-d1">
                    <img src="../img/logod1.jpg" alt="Logo D1" class="logo-circulo">
                    <div class="logo-texto">
                        <strong>Tiendas D1</strong>
                         Practico, cerca y a buen precio
                     </div>
                </div>
            <span class="slogan">¡Precios bajos todos los días!</span>
            </div>
            <nav class="menu">
            <ul>
                <li><a href="../index.html" class="activo">Inicio</a></li>
                <li><a href="productos.html">Productos</a></li>
                <li><a href="#">Categorias</a></li>
                <li><a href="ofertas.html">Ofertas</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
            </nav>
        </header>
        <main>
            
            <div class="contenido">
                <h2>BIENVENIDOS A TIENDAS D1</h2>
                <p>Tiendas D1 es la cadena de descuento mas grande de Colombia.</p>
                <p>Mas de 2.500 tiendas en todo el pais con precios bajos todos los dias.</p>
            </div>
        </main>
        <footer>
            <p>Tiendas D1 - 2025</p>
        </footer>
    </div>
</body>
</html>