<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contacto</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class="container">
        <header>
            <div class="header-top">
                <div class="logo-d1">
                    <img src="../img/logod1.jpg" alt="Logo D1" class="logo-circulo">
                    <div class="logo-texto">
                        <strong>Tiendas D1</strong>
                        Practico, cerca y a buen precio
                    </div>
                </div>
                <span class="slogan">¡Precios bajos todos los días!</span>
            </div>
            <nav class="menu">
                <ul>
                    <li><a href="../index.html">Inicio</a></li>
                    <li><a href="productos.html">Productos</a></li>
                    <li><a href="contacto.html" class="activo">Contacto</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <div class="contenido">
                <h2>CONTACTO</h2>
                <div class="contacto-cards">
                    <div class="contacto-card">
                        <img src="../img/correo.png" alt="Correo" class="contacto-icono">
                        <h3>Correo</h3>
                        <p>contacto@d1.com.co<br>Respondemos en menos<br>de 24 horas</p>
                    </div>
                    <div class="contacto-card">
                        <img src="../img/whatsapp.png" alt="WhatsApp" class="contacto-icono">
                        <h3>Teléfono</h3>
                        <p>01 8000 123 456<br>Lunes a Domingo<br>7:00am – 10:00pm</p>
                    </div>
                    <div class="contacto-card">
                        <img src="../img/ubicación.png" alt="Ubicación" class="contacto-icono">
                        <h3>Sede Principal</h3>
                        <p>Bogotá, Colombia<br>900+ tiendas en<br>todo el país</p>
                    </div>
                </div>
                <div class="form-contacto">
                    <h3>Envíanos un mensaje</h3>
                    <input type="text"  placeholder="Tu nombre" />
                    <input type="email" placeholder="Tu correo electrónico" />
                    <input type="text"  placeholder="Asunto" />
                    <textarea           placeholder="Tu mensaje..."></textarea>
                    <button>Enviar mensaje</button>
                </div>
            </div>
        </main>
        <footer>
            <p>Tiendas D1 - 2025</p>
        </footer>
    </div>
</body>
</html>